*, html {
  padding: 0;
  margin: 0;
  font-family: 'Optima', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background: #9cc;
}

p {
  margin: 0 auto;
  text-align: left;
  width: 80%;
  padding: 1em;
}

button {
  background: #4caf50;
  border: none;
  color: white;
  margin: 2%;
  box-shadow: 2px 2px 2px #000;
  font-size: 1.8vh;
  margin: 1vh;
  height: 4vh;
  width: 12vh;
}

button:hover {
  background: #3b9e40;
}

input {
  border: 2px solid black;
  padding: 1vh;
  height: 3vh;
  width: 4vh;
  vertical-align: bottom;
  text-align: right;
}

input#active {
  border: none;
  background: red;
}

.header {
  background: rgb(76, 126, 126);
  border-bottom: 5px solid rgb(0, 29, 82);
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-button {
  font-size: 3vh;
  font-weight: bold;
  height: 8vh;
  width: 25vh;
}

.description {
  background-color: #ccc;
}

.balance {
  margin-right: 2vh;
}

.wallet {
  margin: 0 auto;
  width: 60%;
  margin-top: 10%;
  padding: 1vh;
}

.wallet-container {
  text-align: left;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 5vh;
  background: rgb(31, 35, 43)
}

/* React Generated */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
