.grid {
  display: flex;
  flex-direction: column;
}

.grid-row {
  display: flex;
  flex-direction: row;
}

.grid-col {
  padding: 10px;
  width: 100px;
  height: 100px;
  background: #789;
  border: 1px solid black;
}

.grid-col:hover {
  background: red;
}