.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-row {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 0 0 100px;
}

.grid-col {
  padding: 5vw;
  width: 10vw;
  height: 10vw;
  justify-content: center;
  border: 1px solid black;
}

.grid-col:hover {
  background: red;
}

.grid-col-unselected {
  background: rgb(216, 243, 243);
  background: #789;
}

.grid-col-selected {
  background: rgb(5, 165, 45);
}