.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-row {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 0 0 100px;
}

.grid-col {
  padding: 10px;
  width: 10em;
  height: 10em;
  justify-content: center;
  border: 1px solid black;
}

.grid-col:hover {
  background: red;
}

.grid-col-unselected {
  background: #789;
}

.grid-col-selected {
  background: rgb(5, 165, 45);
}